[submodule "postgres-explain"]
	path = postgres-explain
	url = https://github.com/MatteoGioioso/postgres-explain.git
[submodule "src/components/CoreModules"]
	path = src/components/CoreModules
	url = git@github.com:MatteoGioioso/postgres-explain-web-core.git
